@import "tailwindcss";

body {
  background-color: rgb(2 6 23); /* slate-950 */
  color: rgb(226 232 240);       /* slate-200 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
